<h1>Contact Inquiry</h1>
<p id="notice"><%= notice %></p>
<p><%= @inquiry.email %></p>
<p><%= @inquiry.subject %></p>
<p><%= @inquiry.description %></p>
<p><%= @inquiry.firstname %> <%= @inquiry.lastname %></p>

